<section class="container">
	<article class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
			<div class="panel panel-primary">
				<div class="panel-body">
					<%= image_tag "profile-pic.jpg", class: "img-rounded" %>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Personal Dossier</h3>
				</div>
				<div class="panel-body">
					<section class="pull-left">
						<article class="h4">Name</article>
						<article class="h4">Contact</article>
						<article class="h4">&nbsp;</article>
						<article class="h4">Email</article>
						<article class="h4">Birthdate</article>
						<article class="h4">Language</article>
						<article class="h4">Passport</article>
						<article class="h4">Address</article>
					</section>
					<section class="pull-right">
						<article class="h4">Shashank Shovit</article>
						<article class="h4">+91 734 890 1688</article>
						<article class="h4">+91 876 409 7487</article>
						<article class="h4">shashankshovit@gmail.com</article>
						<article class="h4">18th Mar, 1992</article>
						<article class="h4">English, Hindi</article>
						<article class="h4">L5290485</article>
						<article class="h4">C-191, KTPS Colony,</article>
						<article class="h4">Kota, Rajasthan - 324008</article>
					</section>
				</div>
			</div>
		</div>
	</article>
</section>